.container {  display: grid;
    grid-template-columns: 0.1fr 2.8fr 0.1fr;
    grid-template-rows: 20px 500px 20px 100px 1.9fr 40px 20px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  /* styling for pop ups */

  #addNew {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    z-index: 10;
    padding: 50px;
    min-width: 50%;
    max-width: 80%;
    display: none;
   }

  #addNew.show {
    display: block;
  }

  #database {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    z-index: 10;
    padding: 50px;
    min-width: 50%;
    max-width: 80%;
    display: none;
   }

  #database.show {
    display: block;
  }
  

#closeNewBtn {
  position: absolute;
  top: 5px;
  right: 15px; 
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: #757575;
  padding: 5px;
}

#closeBtn {
  position: absolute;
  top: 5px;
  right: 15px; 
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  color: #757575;
  padding: 5px;
  z-index: 10;
} 

#static {
  float: left;
  width: 25%;
}

.poster {
  max-width: 100%; 
  border-radius: 5px;
  background-color: #757575;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#form {
  float:right;
  margin-top: 10%;
  width: 70%;
}

#inputs input[type="text"],
#inputs input[type="text"]:focus,
#inputs textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.genInputs {
    display: flex;
    flex-direction: row;
}

.genre {
    display: inline-block;
    padding: 8px 12px;
    margin-right: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #dba934;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.genre:hover {
    background-color: #b97829;
}

/* STAR RATING STYLING */
.stars {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}
   .rate i, .rate i:hover ~ i {
    color: #222;
    transition: color 200ms;
    transition-delay: 0;
  }
  
  .rate:hover i {
    color: #fc0;
    transition-delay: 30ms;
  }
  
  /* Miscellaneous styles. */
  .rate i {
    cursor: pointer;
    font-style: normal;
  }

  .rate i.active {
    color: #ff9c1a;
  }

#comment {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

  #overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0 , 0.5);
    pointer-events: none;
    z-index: 9;
  }

  #overlay.active {
    opacity: 1;
    pointer-events: all;
  } 

    /* styling for base site */

  .typeCard { 
    grid-area: 2 / 2 / 3 / 3; 
    background-image: radial-gradient(circle, #addbe4 40%, #ffe0ee 100%);
    border-radius: 5px;
    text-align: center;
    position: relative;
    padding: 20px;
    }

  .typeCard .fa-share-nodes {
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px; 
    font-size: 2em;
    color: rgb(155, 19, 19);
    }
  
  .content {
    text-align: center;
  }

  .movieList { 
    grid-area: 4 / 2 / 7 / 3; 
    }
  
  .movieContainer{ 
    grid-area: 5 / 2 / 6 / 3; 
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    }
  
  .listHead { 
    grid-area: 4 / 2 / 5 / 3; 
    position: relative;
   
    }

  .listHead h3{ 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    }

  .listHead .sort{ 
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    margin: auto;
    }

   .listHead button{
    margin: auto;
    height: 20px;
   } 

   .addButton {
    background-color: rgb(255, 200, 200);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    margin: auto;
    }
  
  .listBottom { 
    grid-area: 6 / 2 / 7 / 3; 
    text-align: center;
    }
  

  #form-submissions {
    padding: 20px;
    width: 100%;
  }

.card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%;
}

.card-header {
  display: flex;
  align-items: center; /* Center aligns the image vertically */
}

.card-header img {
  max-width: 150px; /* Adjust the maximum width of the image */
  max-height: 200px; /* Adjust the maximum height of the image */
  object-fit: cover; /* Scale the image to cover its container while preserving its aspect ratio */
  border-radius: 8px; /* Optional: Add border radius for rounded corners */
  margin: 20px;
}

.card-body {
    padding: 20px;
    text-align: left;
    width: 100%;
}

.form-info span {
  display: block; /* Display each attribute on a new line */
  color: #222;
  font-size: medium;
  text-transform: capitalize;
}

.delete-button {
    background-color: #ff5555;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
    float: right;
}

.delete-button:hover {
    background-color: #ff0000;
}